<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fighter.loader">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 访问XMPP服务的权限 -->
    <uses-permission android:name="xmpp.permission.ACCESS_API" />
    <!-- 接收 XMPP 消息的权限 -->
    <uses-permission android:name="xmpp.permission.RECEIVE_NOTIFICATION" />

    <uses-sdk tools:overrideLibrary="com.qiku.proguard"/>

    <application >
        <!-- the activity export true,fix cardmanager have no permission start webview-->
        <!-- this activity is proxy of com.fighter.activities.ReaperWebViewActivity in reaper-->
        <activity android:name="com.fighter.proxy.ReaperWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name="com.fighter.proxy.ReaperProxyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <service android:name="com.fighter.proxy.ReaperService" />
        <service android:name="com.fighter.proxy.ReaperProxyService"/>
        <service android:name="com.fighter.proxy.ReaperRemoteService"
            android:process=":remote"/>
        <service android:name="com.fighter.proxy.ReaperRemoteProxyService"
            android:process=":proxy_remote"/>

        <receiver android:name="com.fighter.proxy.ReaperPushReceiver"
            android:enabled="true"
            android:label="xmpp.receiver"
            android:permission="xmpp.permission.SEND_NOTIFICATION">
            <intent-filter>
                <action android:name="com.xmpp.action.NOTIFICATION.6010002" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.fighter.proxy.ReaperReceiver">
            <intent-filter>
                <action android:name="com.figher.reaper.sdk.ACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.fighter.proxy.ReaperProxyReceiver">
            <intent-filter>
                <action android:name="com.figher.reaper.sdk.PROXY_ACTION"/>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="${applicationId}.reaper.provider.ReaperProvider"
            android:name="com.fighter.proxy.ReaperProvider"/>

        <!-- the provider export true,fix cardmanager have no permission opening provider-->
        <provider
            android:name="com.fighter.proxy.ReaperProxyProvider"
            android:authorities="${applicationId}.reaper.provider.ReaperProxyProvider"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <provider
            android:name="com.fighter.proxy.ReaperFileProvider"
            android:authorities="${applicationId}.reaper.provider.ReaperFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
